section {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.perfil-cadastro {
    margin-top: 8%;
    width: 40%;
    height: 195px;
    background-color: var(--azul-claro);
    border-radius: 0 90px 90px 0;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: right;
}

.perfil-cadastro img {
    width: 190px;
    margin-left: 20px;
}

.perfil-cadastro h1 {
    font-size: 30px;
}

#container-forms {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.form-grid {
    max-width: 60%;
    margin-top: 5rem;
    display: flex;
    flex-flow: row wrap;
}
    
.form-field {
    margin: 5px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.form-label {
    margin-bottom: -15px;
    font-family: var(--texto);
    text-transform: uppercase;
}

.form-button {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

.form-button button {
    background-color: var(--verde);
    border-radius: 20px;
    border: none;
    color: var(--branco);
    font-family: var(--titulo);
    font-weight: 600;
    height: 40px;
    width: 500px;
    margin: 2rem;
}

.input-estilizado {
    height: 40px;
    border-radius: 10px;
    border: none;
    padding-left: 1rem;
    background-color: var(--azul-claro);
}

/* estilo dos inputs na tela de cadastro */
.form-group {
    padding: .5rem;
}

/* imputis de email e senha na tela de Login */
.form-control {
    padding: .5rem 1rem;
    border-radius: 8px;
    border: solid 1px;
    margin: .5rem 0;
    width: 400px;
    border: none;
    background-color: var(--azul-claro-light);
}


