.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content>div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.content>div>a {
  width: auto;
  height: 40px;
}

#tabela_agenda {
  margin-top: 30px;
}

#tabela_agenda p {
  font-weight: 600;
  color: var(--verde);
}

/* Estilos responsivos */
@media (width < 1024px) {

    .responsive-table,
    .responsive-table thead,
    .responsive-table tbody,
    .responsive-table th,
    .responsive-table td,
    .responsive-table tr {
        display: block;;
    }

    .responsive-table thead tr {
        display: none;
    }

    .responsive-table tr {
        margin-bottom: 15px;
    }

    .responsive-table td {
        text-align: center;
        padding-left: 50%;
        position: relative;
        width: 50%;
        position: relative;
        left: 25%;
        border: solid 1px var(--azul-escuro-light);
    }
    }

    .responsive-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }