{% extends "accounts/dashboard.html" %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/formulario/form.css" %}">
    <link rel="stylesheet" href="{% static "css/dashboard/base_dash.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock head %}

{% block title %}
    Agenda | {{ block.super }}
{% endblock %}

{% block container %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="page-header">
            <h1 class="titulo">Agendar Consulta</h1>
        </div>
        <form class="form-horizontal" method="post">
            {% csrf_token %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
            {% endfor %}
            <fieldset>
                {% for field in form %}
                <div class="form-group{% if field.errors %} has-error{% endif %}">
                <label for="{{ field.auto_id }}" class="col-md-3 control-label">
                {{ field.label }}</label>
                <div class="col-md-9">
                    {% render_field field class="form-control" %}
                    {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
                </div>
                {% endfor %}
                <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
                </div>
            </fieldset>
        </form>
        <div class="container margin-top">
            {% block messages %}
                {% for message in messages %}
                    <div class='alert alert-{{ message.tags}}'>
                    {{ message }}
                    </div>
                {% endfor %}
            {% endblock messages %}
        </div>
        <script type="text/javascript">
        $(document).ready(function() {
            $("#id_especialidade").change(function() {
                var especialidadeId = $(this).val();
                if (especialidadeId) {
                    $.ajax({
                        url: "{% url 'clientes:ajax_get_medicos' %}",
                        data: {
                            'especialidade_id': especialidadeId
                        },
                        success: function(data) {
                            $("#id_medico").html('<option value="">---------</option>');
                            $.each(data.medicos, function(key, value) {
                                $("#id_medico").append('<option value="' + value.id + '">' + value.nome + '</option>');
                            });
                        }
                    });
                } else {
                    $("#id_medico").html('<option value="">---------</option>');
                }
                $("#id_dia").html('<option value="">---------</option>');
                $("#id_horario").html('<option value="">---------</option>');
            });

            $("#id_medico").change(function() {
                var medicoId = $(this).val();
                if (medicoId) {
                    $.ajax({
                        url: "{% url 'clientes:ajax_get_dias' %}",
                        data: {
                            'medico_id': medicoId
                        },
                        success: function(data) {
                            $("#id_dia").html('<option value="">---------</option>');
                            $.each(data.dias, function(key, value) {
                                $("#id_dia").append('<option value="' + value.dia + '">' + value.dia + '</option>');
                            });
                        }
                    });
                } else {
                    $("#id_dia").html('<option value="">---------</option>');
                    $("#id_horario").html('<option value="">---------</option>');
                }
            });

            $("#id_dia").change(function() {
                var dia = $(this).val();
                var medicoId = $("#id_medico").val();
                if (dia && medicoId) {
                    $.ajax({
                        url: "{% url 'clientes:ajax_get_horarios' %}",
                        data: {
                            'dia': dia,
                            'medico_id': medicoId
                        },
                        success: function(data) {
                            $("#id_horario").html('<option value="">---------</option>');
                            $.each(data.horarios, function(key, value) {
                                $("#id_horario").append('<option value="' + value.horario + '">' + value.horario + '</option>');
                            });
                        }
                    });
                } else {
                    $("#id_horario").html('<option value="">---------</option>');
                }
            });
        });
        </script>
    </div>
</div>
{% endblock %}
