{% extends 'accounts/dashboard.html' %}

{% load static %}

{% block img %}<img src="{% static 'img/dashboard/perfil_icon/icone_01.png' %}" alt="ícone perfil">{% endblock img %}

{% block add_botoes %}
<div class="btn_main">
    <a href="{% url 'accounts:update_user'%}">
        <img src="{% static 'img/dashboard/icone_alterar_nome.png' %}" alt="ícone ilustrativo clínica">
        <h2>novo<br>agendamento</h2>
    </a>
</div>

<div class="btn_main">
    <a href="{% url 'accounts:update_password'%}">
        <img src="{% static 'img/dashboard/icone_alterar_senha.png' %}" alt="ícone ilustrativo clínica">
        <h2>consultas<br>marcadas</h2>
    </a>
</div>

<div class="btn_main">
    <a href="{% url 'clientes:cliente_atualizar'%}">
        <img src="{% static 'img/dashboard/perfil_icon/icone_02.png' %}" alt="ícone ilustrativo clínica">
        <h2>historico<br>de consultas</h2>
    </a>
</div>
{% endblock add_botoes %}