{% extends "base_dash.html" %}
{% load static %}

{% block title %}
    Especialidade | {{ block.super }}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/formulario/list.css" %}">
    <link rel="stylesheet" href="{% static "css/dashboard/base_dash.css" %}">
{% endblock head %}

{% block accounts_container %}
<div class="content">
    <div>
        <h2 class="titulo__padrao">Especialidades</h2>
        <a href="{% url "medicos:especialidade_cadastro" %}">+ CADASTRAR NOVA ESPECIALIDADE</a>
    </div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Nome
            </th>
        </tr>
    </thead>
    <tbody>
        {% for especialidade in object_list %}
        <tr>
            <td>
                <a href=""># {{ especialidade.pk }}</a>
            </td>
            <td>
                {{ especialidade.nome }}
            </td>
            <td>
                <a href="{% url 'medicos:especialidade_deletar' especialidade.id %}" class="mr-1 text-danger" style="padding-left: 10px; text-decoration: none;">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}