{% extends "base_dash.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
Login | {{ block.super }}
{% endblock title %}

{% block head %}
		<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=10, minimum-scale=1.0">
		<link rel="stylesheet" href="{% static "css/login/login.css" %}">
		<link rel="stylesheet" href="{% static "css/formulario/form.css" %}">
{% endblock head %}

{% block nav_header %}
	<li><a href="#" id="button-back" onclick="history.back()">Voltar</a></li>
{% endblock nav_header %}

{% block container %}
		<main>
				<section class="bem-vindo__container">
						<div class="bg-bem-vindo"></div> <!-- Esta div é o fundo branco emcima do bg -->
						<div class="bem-vindo__conteudo">
								<h1>Seja<br>bem-vindo(a)</h1>
								<a id="btn-criar-conta" href="{% url 'accounts:register' %}">+ Criar conta</a>
						</div>
				</section>
				<section class="login__container"> <!-- Essa section é toda a parte da direita -->
					<div class="container margin-top">
						{% block messages %}
							{% for message in messages %}
								<div class='alert alert-{{ message.tags}}'>
								{{ message }}
								</div>
							{% endfor %}
						{% endblock messages %}
					</div>
						{% comment %} <div class="login__links">
								<h1>LOGIN</h1>
								<nav>
										<div class="login__facebook texto__padrao">
												<a href="https://www.facebook.com/"><img src="{% static "img/icons/facebook-login.png" %}"
																alt="Logotipo do Facebook.">Continuar com Facebook</a>
										</div>
										<div class="login__apple texto__padrao">
												<a href="https://appleid.apple.com/sign-in"><img src="{% static "img/icons/apple.png" %}"
																alt="Logotipo da Apple">Continuar com Apple</a>
										</div>
										<div class="login__google texto__padrao">
												<a href="https://accounts.google.com/v3/signin/identifier?dsh=S369551555%3A1680555202420996&continue=https%3A%2F%2Fwww.google.com%2Fwebhp%3Fhl%3Dpt-BR%26sa%3DX%26ved%3D0ahUKEwi8s7r5y47-AhXqqpUCHUajDsYQPAgI&ec=GAZAmgQ&hl=pt-BR&ifkv=AQMjQ7TU-DOt3uE3wFoV8-ly8ILr-uFQHe48MVS_fzNT0HA7AWKWhz1PDDWhbT13eMorudbtEThjbw&passive=true&flowName=GlifWebSignIn&flowEntry=ServiceLogin">
														<img src="{% static "img/icons/google.png" %}" alt="">Continuar com Google</a>
										</div>
								</nav>
						</div> {% endcomment %}
						<div class="login">
								{% comment %} <span class="titulo__padrao">Ou</span> {% endcomment %}
								<form class="form-horizontal" method="post">
										{% csrf_token %}
												<div {% if form.username.errors %} has-error {% endif %}">
														<label for="{{form.username.auto_id }}" class="col-md-3 control-label">
																{{ form.username.label_tag }}
														</label>
														<div class="col-md-9">
																{% render_field form.username class='form-control' placeholder='Usuário ou e-mail'%}
																{% for error in form.username.errors %}
																<span class='help-block'>{{error}}</span>
																{%endfor%}
														</div>
												</div>
												<div {% if form.password.errors %} has-error {% endif %}">
														<label for="{{ form.password.auto_id }}id_email" class="col-md-3 control-label">
																{{ form.password.label }}
														</label>
														<div class="col-md-9">
																{% render_field form.password class="form-control" placeholder="✽✽✽✽✽✽✽✽" %}
																{% for error in form.password.errors %}
																		<span class="help-block">{{ error }}</span>
																{% endfor %}
														</div>
												</div>
												<div>
														<div class="col-md-9 col-md-offset-3">
																<button type="submit" id="button-submit" class="form-button">ENTRAR</button>
														</div>
												</div>
								</form>
								<div class="row">
										<div class="col-md-8 col-md-offset-2">
												<div class="page-header">
														{% for error in form.non_field_errors %}
														<div class='alert alert-danger'>
																{{ error }}
														</div>
														{% endfor %}
												</div>
										</div>
								</div>
						</div>
				</section>
		</main>
{% endblock container %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static "js/button-submit.js" %}"></script>
{% endblock scripts %}