{% extends 'base.html'%}
{% load static %}

{% block title %}
    {{ block.super }} | Minha Conta
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/dashboard/base_dash.css' %}" media="screen" />
{% endblock head %}

{% block container %}
<main>
{% block side-menu %}
    <section class="left_menu">
        <div>
            <h1 class="titulo">Bem vindo(a)<br>{{ user.name }}</h1>

            {% block img %}<img src="{% static 'img/dashboard/perfil_icon/icone_02.png' %}" alt="ícone perfil">{% endblock img %}

            <h1> {{ cargo.nome_cargo }} </h1>

            {% comment %} <div>
                <button>+ Criar novo usuário</button>
                <select>
                    <option value="Paciente">Paciente</option>
                    <option value="Funcionário">Funcionário</option>
                </select>
            </div> {% endcomment %}
        </div>
    </section>
{% endblock side-menu %}

{% block botoes %}
    {% block accounts_container %}
    {% endblock accounts_container %}
{% endblock botoes %}
    
</main>
{% endblock container %}
