{% extends "base_dash.html" %}
{% load static %}

{% block title %}
    Medicos
{% endblock %}

{% comment %} {% block head %}
    <link rel="stylesheet" href="{% static "css/medicos/medicos_list.css" %}">
{% endblock head %} {% endcomment %}

{% block accounts_container %}
<div>
    <h2 class="titulo">Médicos</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Nome
            </th>
            <th>
                E-mail
            </th>
            <th>
                CRM 
            </th>
            <th>
                Especialidade
            </th>
            <th>
                Telefone
            </th>
        </tr>
    </thead>
    <tbody>
        {% for medico in object_list %}
        <tr>
            <td>
                <a href=""># {{ medico.pk }}</a>
            </td>
            <td>
                {{ medico.nome }}
            </td>
            <td>
                {{ medico.email }}
            </td>
            <td>
                {{ medico.crm }}
            </td>
            <td>
                {{ medico.especialidade }}
            </td>
            <td>
                {{ medico.telefone }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}