{% extends 'medicos/perfil.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/perfil/base.css' %}" media="screen" />
    <link rel="stylesheet" href="{% static 'css/formulario/form.css' %}" media="screen" />
{% endblock head %}

{% block title %}
    Meus Dados | {{ block.super }}
{% endblock %}

{% block content %}

<section>

    <div class="perfil-cadastro">
        <a href="{% url 'medicos:medico_perfil' %}"><img src="{% static 'img/dashboard/perfil_icon/icone_01.png' %}" alt="perfil"></a>
        {% if user.is_superuser %}
            <h1 class="titulo">{{ funcionario.pk }}</h1>    
        {% else %}
            <h1 class="titulo">MEUS DADOS</h1>
        {% endif %}
    </div>

    <div id="container-forms">

        <form method="POST" class="form-grid">

            {% csrf_token %}
            {% for field in form %}
                <div class="form-field">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label><br>
                    {{ field }}
                </div>
            {% endfor %}
            <div class="form-button">
                <div>
                    <button type="submit">CONCLUIR</button>
                </div>
            </div>

        </form>

    </div>

</section>

{% endblock content %}

