{% extends 'medicos/perfil.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/medico/perfil/listar_consultas.css' %}">
{% endblock head %}

{% block title %}
   Prontuários | {{ block.super }}
{% endblock %}

{% block content %}

<section>

    <div class="container_title_historico">
        <div>
            <img src="{% static 'img/dashboard/perfil_icon/icone_01.png' %}" alt="perfil">
            <h1 class="texto">PACIENTES</h1>
        </div>
        <div>
            <select id="tipo_select" onchange="changePlaceholder()">
                <option value="nome">Nome</option>
                <option value="cpf">CPF</option>
            </select>
            <input id="tipo_input" placeholder="Selecione">
        </div>
        <div>
            <form method="GET">
                <input type="date" name="data_consulta">
                <button type="submit">FILTRAR</button>
            </form>
        </div>
    </div>

    <div class="container_consultas">
        {% if user.is_staff or user.is_superuser %}
            {% if consultas %}
                {% for consulta in consultas %}                 
                    <div class="consulta-item" id="historico-bg">

                        <p>Paciente: {{ consulta.cliente }}<br>
                            Prontuário: {{ consulta.cliente.id }}
                        </p>

                        <p>Especialidade: {{ consulta.agenda.medico.especialidade }}<br>
                            Médico(a): Dr(a) {{ consulta.agenda.medico }}</p>
                            
                        {% with consulta.agenda|slice:"13:" as horario %}
                        <p>Data: {{ consulta.agenda.dia }}<br>
                            Hora: {{ horario }}</p>
                        {% endwith %}

                        <img src="{% static 'img/icons/prontuario.svg' %}" alt="ícone ilustrativo prontuário">

                    </div>
                {% endfor %}
            {% else %}
                    <h3>Não há consultas agendadas para essa data.</h3>
            {% endif %}
        {% endif %}
    </div>

</section>

{% endblock content %}
{% block scripts %}
    <script src="{% static 'js/filtro_paciente.js' %}"></script>
{% endblock %}