{% extends "base_dash.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/formulario/list.css" %}">
    <link rel="stylesheet" href="{% static "css/dashboard/base_dash.css" %}">
{% endblock head %}

{% block title %}
    Meus Horários | {{ block.super }}
{% endblock %}

{% block accounts_container %}
<div class="content">
    <div>
        <h2 class="titulo__padrao">Horários Disponíveis</h2>
    </div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Medico
            </th>
            <th>
                Dia
            </th>
            <th>
                Horario
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>
    <tbody>
        {% for horario in object_list %}
        <tr>
            <td>
                <a href=""># {{ horario.pk }}</a>
            </td>
            <td>
                {{ horario.medico }}
            </td>
            <td>
                {{ horario.dia|date:"d/m/Y" }}
            </td>
            <td>
                {{ horario.get_horario_display }}
            </td>
            <td>
                <p>Disponível</p>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}