{% extends 'medicos/perfil.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/perfil/medico/listar_consultas.css' %}">
{% endblock head %}

{% block title %}
   Minha Agenda | {{ block.super }}
{% endblock %}

{% block content %}

<section>

    <div class="container_title">
        <h1 class="subtitle">CONSULTAS FUTURAS</h1>
        <div>
            <form method="GET">
                <input type="date" name="data_consulta">
                <button type="submit">FILTRAR</button>
            </form>
        </div>
    </div>

    <div class="container_historico">
        {% if user.is_staff or user.is_superuser %}
            {% if consultas %}
                {% for consulta in consultas %}                 
                    <div class="consulta-item">

                        <p>Paciente: {{ consulta.cliente }}<br>
                            Prontuário: {{ consulta.cliente.id }}
                        </p>

                        <p>Especialidade: {{ consulta.agenda.medico.especialidade }}<br>
                            Médico(a): Dr(a) {{ consulta.agenda.medico }}</p>
                            
                        {% with consulta.agenda|slice:"13:" as horario %}
                        <p>Data: {{ consulta.agenda.dia }}<br>
                            Hora: {{ horario }}</p>
                        {% endwith %}

                        <img src="{% static 'img/icons/prontuario.svg' %}" alt="ícone ilustrativo prontuário">

                    </div>
                {% endfor %}
            {% else %}
                    <h3>Não há consultas agendadas para essa data.</h3>
            {% endif %}
        {% endif %}
    </div>

</section>

{% endblock content %}