{% extends 'accounts/dashboard.html' %}

{% load static %}

{% block title %}
  Minha Conta | {{ block.super }}
{% endblock %}

{% block img %}<img src="{% static 'img/dashboard/perfil_icon/icone_03.png' %}" alt="ícone perfil">{% endblock img %}

{% block botoes %}
<section class="right_menu">

  {% block profile-title %}
      <h1 class="titulo">O QUE VOCÊ DESEJA ACESSAR?</h1>
  {% endblock profile-title %}

  <div class="botoes">
      <div class="btn_main">
          <a href="{% url 'accounts:update_user'%}">
              <img src="{% static 'img/dashboard/icone_alterar_nome.png' %}" alt="ícone ilustrativo clínica">
              <h2>alterar<br>usuário e e-mail</h2>
          </a>
      </div>

      <div class="btn_main">
          <a href="{% url 'accounts:update_password'%}">
              <img src="{% static 'img/dashboard/icone_alterar_senha.png' %}" alt="ícone ilustrativo clínica">
              <h2>alterar<br>senha</h2>
          </a>
      </div>
      
      <div class="btn_main">
          <a href="{% url 'medicos:atualizar_cadastro'%}">
              <img src="{% static 'img/dashboard/perfil_icon/icone_02.png' %}" alt="ícone ilustrativo clínica">
              <h2>atualizar<br>meus dados</h2>
          </a>
      </div>

      {% block add_botoes %}{% endblock add_botoes %}
      
      {% if request.user.is_staff or request.user.is_superuser %}
          <div class="btn_main">
              <a href="{% url 'medicos:minha_agenda'%}">
                  <img src="{% static 'img/dashboard/icone_agenda.png' %}" alt="ícone ilustrativo agendamento">
                  <h2>minha agenda</h2>
              </a>
          </div>
          
          <div class="btn_main">
              <a href="{% url 'medicos:consultas_lista'%}">
                  <img src="{% static 'img/dashboard/icone_calendario.png' %}" alt="ícone perfil funcionário">
                  <h2>consultas</h2>
              </a> 
          </div>

          <div class="btn_main">
              <a href="{% url 'medicos:prontuarios_lista'%}">
                  <img src="{% static 'img/dashboard/icone_paciente.png' %}" alt="ícone perfil paciente">
                  <h2>prontuários</h2>
              </a>
          </div>
      {% endif %}
  </div>

</section>
{% endblock botoes %}
