{% extends 'medicos/perfil.html' %}

{% load static %}

{% block title %}
    Clínica Vision | Pacientes
{% endblock %}       

{% block head %}
    <link rel="stylesheet" href="{% static 'css/dashboard/base_dash.css' %}" media="screen" />
    <link rel="stylesheet" href="{% static 'css/medico/perfil/minha_agenda.css' %}">
{% endblock head %} 

{% block botoes %}
<section class="section_minha_agenda">
    {% block profile-title %}
        <h1 class="titulo">PACIENTES</h1>
    {% endblock profile-title %}
    
    {% block accounts_container %}
    {% endblock accounts_container %}

    <div class="container_filter">
        <form method="GET">
            <input type="date" name="data_consulta">
            <button type="submit">FILTRAR</button>
        </form>
    </div> 

    <div class="container_consultas">
        {% if user.is_staff or user.is_superuser %}
            {% if consultas %}
                {% for consulta in consultas %}                 
                    <div class="consulta-item" id="consulta-bg-prontuario"> 

                        <p>Paciente: {{ consulta.cliente }}<br>
                            Prontuário: {{ consulta.cliente.id }}
                        </p>

                        <p>Especialidade: {{ consulta.agenda.medico.especialidade }}<br>
                            Médico(a): Dr(a) {{ consulta.agenda.medico }}</p>
                            
                        {% with consulta.agenda|slice:"13:" as horario %}
                        <p>Data: {{ consulta.agenda.dia }}<br>
                            Hora: {{ horario }}</p>
                        {% endwith %}

                        <p>Status: <br> {{consulta.status_cons}}</p>

                        <a href="{% url 'medicos:prontuario' consulta.cliente.id %}">
                            <img src="{% static 'img/icons/prontuario-medico.png' %}" alt="ícone ilustrativo prontuário">
                        </a>

                    </div>
                {% endfor %}
            {% else %}
                    <h3>Não há consultas agendadas para essa data.</h3>
            {% endif %}
        {% endif %}
    </div>

</section>

{% endblock botoes %}