{% extends 'medicos/perfil.html' %}

{% load static %}

{% block title %}
    Prontuários | Clínica Vision
{% endblock %}       

{% block head %}
    <link rel="stylesheet" href="{% static 'css/dashboard/base_dash.css' %}" media="screen" />
    <link rel="stylesheet" href="{% static 'css/medico/perfil/minha_agenda.css' %}">
{% endblock head %} 

{% block botoes %}
<section class="section_minha_agenda">
    {% block profile-title %}
        <h1 class="titulo">PRONTUÁRIOS</h1>
        <p>* Prontúarios de pacientes atendidos</p>
    {% endblock profile-title %}
    
    {% block accounts_container %}
    {% endblock accounts_container %}

    <div class="container_filter">
        <form method="GET">
            {% csrf_token %}
            <input id="nome_funcionario" placeholder="NOME">
            <input id="cpf_funcionario" placeholder="CPF">
            <input type="date" name="data_consulta">
            <button type="submit">BUSCAR</button>
        </form>
    </div> 

    <div class="container_consultas">
        {% if user.is_staff or user.is_superuser %}
            {% if consultas %}
                {% for consulta in consultas %}                 
                    <div class="consulta-item" id="consulta-bg-prontuario"> 

                        <p>Paciente: {{ consulta.cliente }}<br>
                            Prontuário: {{ consulta.cliente.id }}
                        </p>

                        <p>Especialidade: {{ consulta.agenda.medico.especialidade }}<br>
                            Médico(a): Dr(a) {{ consulta.agenda.medico }}</p>
                            
                        <p>Data: {{ consulta.agenda.dia }}<br>
                            Hora: {{ consulta.agenda.get_horario_display }}</p>

                        <p>Status: <br> {{consulta.status_cons}}</p>

                        <a href="{% url 'medicos:prontuario' consulta.id %}">
                            <img src="{% static 'img/icons/prontuario-medico.png' %}" alt="ícone ilustrativo prontuário">
                        </a>

                    </div>
                {% endfor %}
            {% else %}
                    <h3>Sem resultados.</h3>
            {% endif %}
        {% endif %}
    </div>

</section>

{% endblock botoes %}