{% extends 'base.html'%}

{% load static %}

{% block title %}
    Clinica Vision | Prontuário: {{ cliente.nome }}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/dashboard/base_dash.css' %}" media="screen" />
    <link rel="stylesheet" href="{% static 'css/medico/perfil/prontuario.css' %}">
{% endblock head %} 

{% block container %}

<main>
    <div class="new-medical-record">
        <a href="#">
            <img src="{% static 'img/icons/prontuario-medico.png' %}" alt="ícone ilustrativo prontuário">
            <p>Novo Prontuário</p>
        </a>
    </div>

    <table>
        <thead>
            <tr>
                <th>Nome do paciente</th>
                <th>Data de nascimento</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="name">Yutty Takeyama</td>
                <td id="birth">18/08/1993</td>
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th>Sintomas</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>O paciente relata dificuldade ao enchegar placas de transito.</td>
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th>Observações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Secreção lagrimal fraca.</td>
            </tr>
        </tbody>

        <table>
            <thead>
                <tr>
                    <th>Laudo (opcional)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>O paciente terá que usar oculos de grau e colirio LAcrifil 1x por dia.</td>
                </tr>
            </tbody>
        </table>

        <table id="far"> <!-- Tabela de receita para longe -->
            <thead>
                <tr>
                    <th colspan="5">Longe</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>Esférico</td>
                    <td>Cilindro</td>
                    <td>Eixo</td>
                    <td>D.P</td>
                </tr>
                <tr>
                    <td>OD</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>OE</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <table id="close"> <!-- Tabela de receita para perto -->
            <thead>
                <tr>
                    <th colspan="5">Perto</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>Esférico</td>
                    <td>Cilindro</td>
                    <td>Eixo</td>
                    <td>D.P</td>
                </tr>
                <tr>
                    <td>OD</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>OE</td>


                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <hr size="5" width="80%" color="black" noshade>

        <div class="buttons">
            <input type="file" id="attachments" value="ANEXAR">
            <input type="submit" id="save" value="SALVAR">
        </div>
</main>

{% endblock container %}


    