{% extends "accounts/dashboard.html" %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/formulario/form.css" %}">
    <link rel="stylesheet" href="{% static "css/dashboard/base_dash.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(function() {
          $('#id_especialidade').change(function() {
              var especialidadeId = $(this).val();
              $.ajax({
                  url: '{% url "clientes:get_medicos_by_especialidade" %}',
                  data: {
                      'especialidade_id': especialidadeId
                  },
                  dataType: 'json',
                  success: function(data) {
                      $('#id_medico').empty();
                      $.each(data.medicos, function(key, value) {
                          $('#id_medico').append($('<option></option>').attr('value', value.id).text(value.nome));
                      });
                  }
              });
          });
      });
  </script>
{% endblock head %}

{% block title %}
    Agenda | {{ block.super }}
{% endblock %}

{% block container %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="page-header">
            <h1 class="text-center">Horários Disponíveis</h1>
        </div>
        <form class="form-horizontal" method="post">
            {% csrf_token %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
            {% endfor %}
            <fieldset>
                {% for field in form %}
                <div class="form-group{% if field.errors %} has-error{% endif %}">
                  <label for="{{ field.auto_id }}" class="col-md-3 control-label">
                  {{ field.label }}</label>
                  <div class="col-md-9">
                    {% render_field field class="form-control" %}
                    {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                  </div>
                </div>
                {% endfor %}
                <div class="form-group">
                  <div class="col-md-9 col-md-offset-3">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                  </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
